{% extends "layout.html" %}

{% block title %}
Update Sheep
{% endblock %}

{% block body %}
<div style="text-align:center">
	<h1>{{ update.name }} from {{ update.cg }}</h1>

	<form action="{{ url_for('updating') }}" method="post">
		<input type="hidden" name="id" value="{{ update.id }}">
	Name:<input name="name" type="text">
		<br/>
		CG:
		<select name="cg">
			<option value=""></option>
			<option value="CJC A">CJC A</option>
			<option value="CJC B">CJC B</option>
			<option value="CJC C">CJC C</option>
		</select>
		<br/>
	<input type="submit" value="Save"/>
	</form>
</div>

{% endblock %}